// bodyColor = #E6EEF6
// containerColor = #9ED9EB
bodyColor = rgba(250, 250, 250, 1)
containerColor = rgba(70, 150, 200, 0.1)
textColor = #777
temperHoverColor = #3cc
*
  margin: none
html
  overflow-y: hidden
body
  background: bodyColor
  text-align: center
  color: textColor
  cursor: default;
h1.title
  font-size: 2.8em;
  margin-top: 50px;
.container
  background-color: containerColor
  padding: 30px;
  width: 600px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
h1
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold
  &.location
    font-size: 2em
#temp
  cursor: pointer;
  transition: all .2s ease
  display: inline-block;
  &:hover
    color: temperHoverColor
  &:focus
    outline: none
#weatherText
  font-size: 2em
  font-weight: bold
i
  font-size: 3.5em;
  margin: 10px;
