* {
  margin: none;
}
html {
  overflow-y: hidden;
}
body {
  background: #117e7e;
  text-align: center;
  color: #444;
  cursor: default;
}
.container {
  background-color: rgba(70,150,180,0.5);
  height: 300px;
  width: 600px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 20px rgba(0,0,0,0.1) inset;
}
h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
}
h1.title {
  font-size: 2.8em;
}
h1.location {
  font-size: 2em;
}
#temp {
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;
}
#temp:hover {
  color: #3cc;
}
#temp:focus {
  outline: none;
}
#weatherText {
  font-size: 2em;
  font-weight: bold;
}
i {
  font-size: 3.5em;
  margin: 10px;
}
