html {
  overflow-y: hidden;
}
body {
  background: #e6eef6;
  text-align: center;
  color: #fff;
}
.box {
  height: 450px;
  width: 600px;
  display: inline-block;
  position: relative;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 20px rgba(0,0,0,0.1) inset;
  background-color: #9ed9eb;
}
.box:before,
.box:after {
  position: absolute;
  content: "";
  box-shadow: 0 10px 25px 20px #518c96;
  top: 40px;
  left: 25px;
  bottom: 50px;
  width: 15%;
  z-index: -1;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.box:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 25px;
  left: auto;
}
h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
}
h1.name {
  font-size: 3.5em;
  margin: 40px 0px 30px 0px;
}
h1.location {
  font-size: 2em;
}
#temp {
  cursor: pointer;
  transition: all 0.3s ease;
}
#temp:hover {
  font-size: 2.1em;
  color: #ddd;
}
#temp:focus {
  outline: none;
}
i {
  font-size: 5em;
  margin: 10px;
}
